.column {
    float: left;
    width: 50%;
}
#columnContainer {
    border: 5px double black;
}
header {
    display: flex;
    & button {
        flex: 1;
        border-style: none;
        font-size: large;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0);
    }
    & button:hover {
        background-image: linear-gradient(white, lightgrey);
    }
    & p {
        display: flex;
        flex: 1;
        background-color: darkgray;
        border-style: none;
        align-items: center;
        justify-content: center;
    }
}
#background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("SUA%20Logo.png");
    background-size: cover;
    background-position: top;
    filter: blur(8px);
    z-index: -1;
}
